body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #8c8686; 
  color: #2c3e50; 
}

header {
  height: 400px;
  padding: 50px;
  margin: 0 10px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  color: #100f0f;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-image: url(img/header.jpg);
  background-position: center;

}

nav {
  background-color: #1a1817;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav a {
  color: black;
  text-decoration:none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #655b8a;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #7d4e1e;
}
.yo {
 
  padding: 20px;
  margin: 50px;
  background-color: #506c68;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
}
.yo img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.contenedor-flex {
  display: flex;
  flex-direction:row;
  padding: 20px;
  justify-content: space-evenly;
}

.div-izquierdo, .div-derecho {
  width: 1000px;
  max-width: 600px;  
  padding: 20px;
  margin: 10px;
  background-color: #34495e;
  color: #ecf0f1;
  border-radius: 10px;
}

.div-izquierdo img, .div-derecho img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align:justify;
  padding: 20px;
}

.contenido {
  gap: 20px;
  display: flex;

  align-items: center;
  justify-content: flex-end;
}

.contenedor img {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #34495e;
  
}

.imagenes {
  width: 20%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-direction:column-reverse;
  display: flex;
}
footer {
  background-color: #2c3e50;
  padding: 10px;
  display: flex;
  text-align: center;
  color: #8b1d5f;
  justify-content: center;
}

footer img {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  transition: background-color 0.3s ease;
  background-color: #e74c3c;
}

.boton-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.boton-arriba:hover {
  background-color: #d35400;
}


.container {
  padding: 2px 16px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  margin-top: 1.4rem;
  background-color: #8c8686;
  border-radius: 5px;
  padding: 10px;

}